div {
    user-select: none;
}

body {
    background-image: url("https://images.pexels.com/photos/6238614/pexels-photo-6238614.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=450&w=756");
    background-repeat: no-repeat;
}

.card {
    background-color: rgba(224, 224, 224, 0.45);
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#chartCalendar {
    text-align: center;
}

.row2-col2-card-row3 {
    height: 400px;
}

#DHT11Chart{
    height: 400px;
}

.row1 {
    height: 60px;
}

.row3 {
    height: 60px;
}

.row5 {
    height: 160px;
}


.row2-col2-card-row1 {
    height: 40px;
}

.row2-col2-card-row2 {
    text-align: center;
}

.row2-col2-card-row4 {
    height: 60px;
}

.row2-col3 {
    width: 10px;
}

.row2-col4-row1-card-row1 {
    height: 40px;
}

.row2-col4-row1-card-row2 {
    text-align: center;
}

.row2-col4-row1-card-row3 {
    height: 40px;
}

.row2-col4-row-2 {
    height: 20px;
}

.row2-col4-row3-col1-card1 {
    height: 335px;
    text-align: center;
}

.row2-col4-row3-col1-card1-row1 {
    height: 80px;
}

#nowTempData{
    font-size: 50px;
    color: royalblue;
}

.row2-col4-row3-col2-card1 {
    height: 335px;
    text-align: center;
}

.row2-col4-row3-col2-card1-row1 {
    height: 80px;
}

#nowHumData{
    font-size: 50px;
    color: royalblue;
}

.row4-col3 {
    width: 10px;
}

.row4-col5{
    width: 10px;
}

.row4-col2-card1-row1 {
    height: 80px;
}

.row4-col2-card1-row2 {
    text-align: center;
}

.row4-col2-card1-row3 {
    height: 80px;
}

.row4-col4-card1-row1 {
    height: 80px;
}

.row4-col4-card1-row2 {
    text-align: center;
}

.row4-col4-card1-row3 {
    height: 80px;
}

.row4-col6-card1-row1 {
    height: 80px;
}

.row4-col6-card1-row2 {
    text-align: center;
}

.row4-col6-card1-row3 {
    height: 80px;
}